* {
  margin: 0;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}
@media (max-width: 500px) {
  * {
    font-size: 13px;
  }
}

body {
  background-color: hsl(217deg, 54%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
main .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 19rem;
  background-color: hsl(216deg, 50%, 16%);
  border-radius: 4%;
  box-shadow: -2px 5px 10px 10px hsl(218deg, 53%, 10%);
}
main .card-container .image-card {
  margin-top: 1.8rem;
  border-radius: 5%;
  width: 16rem;
  height: 16rem;
  position: relative;
  z-index: 1;
}
main .card-container .card-text {
  max-width: 16rem;
  margin-top: 1rem;
}
main .card-container .card-text .card-title {
  font-size: 1.1rem;
  align-items: flex-start;
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  text-decoration: none;
}
main .card-container .card-text .card-title:hover {
  color: hsl(178deg, 100%, 50%);
  cursor: pointer;
  transition: 0.7s;
}
main .card-container .card-text .card-description {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: hsl(215deg, 51%, 70%);
  font-weight: 400;
}
main .card-container .card-value-container {
  list-style: none;
  margin-top: 1rem;
  font-size: 1rem;
  width: 16rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
main .card-container .card-value-container .card-value {
  display: flex;
  color: hsl(178deg, 100%, 50%);
  align-items: center;
}
main .card-container .card-value-container .card-value img {
  padding-right: 0.2rem;
}
main .card-container .card-value-container .card-value-time {
  display: flex;
  color: hsl(215deg, 51%, 70%);
  align-items: center;
}
main .card-container .card-value-container .card-value-time img {
  padding-right: 0.2rem;
}
main .card-container .card-creator {
  width: 16rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1.8rem;
  padding-top: 1rem;
  border-top: 1px solid hsl(215deg, 32%, 27%);
}
main .card-container .card-creator img {
  max-width: 1.8rem;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 50%;
  margin-right: 1rem;
}
main .card-container .card-creator .card-creator-name {
  font-size: 0.9rem;
  color: hsl(215deg, 51%, 70%);
}
main .card-container .card-creator .card-creator-name .name {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}
main .card-container .card-creator .card-creator-name .name:hover {
  color: hsl(178deg, 100%, 50%);
  cursor: pointer;
  transition: 0.7s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
footer .attribution {
  color: hsl(0deg, 0%, 100%);
  font-size: 0.9rem;
}
footer a {
  text-decoration: none;
  font-size: 0.9rem;
  color: hsl(215deg, 51%, 70%);
}
footer a:hover {
  color: hsl(178deg, 100%, 50%);
  transition: 0.7s;
}

/*# sourceMappingURL=style.css.map */
